<%= form.inputs do %>
  <%= form.input :name %>

  <p>
    Set the
    <a href='http://www.w3.org/Protocols/HTTP/1.0/spec.html'>HTTP Basic Auth</a>
    username and password for this project's authentication:
  </p>

  <%= form.input :username %>
  <%= form.input :password %>

  <% if project.persisted? -%>
    <%= form.input :archived %>
  <% end -%>
<% end %>
