<% content_for :title, "Edit #{h @project.name}" %>

<% content_for :header do %>
  <h2>Edit project: <%=h @project.name %></h2>

  <div class='actions'>
    <%= link_to @project, :method  => 'delete',
          :confirm => 'Delete this project and all associated content?' do %>
      <span class='delete_item'>Remove</span>
    <% end -%>
  </div>
<% end -%>

<div id='current_api'>
  <label>
    Current API key:
  </label>

  <div id='api_key_value'>
    <%= @project.api_key %>
  </div>
</div>

<%= semantic_form_for @project do |form| %>
  <%= render 'form', :form => form %>

  <%= form.buttons do %>
    <%= form.commit_button %>
  <% end %>

  <%= render 'installation_instructions', :project => @project %>
<% end -%>
