<div id='tour'>
  <h2 id='tour-title'>Copycopter Tour</h2>
  <div id='plans-signup-form'>
    <div id='tour-header'>
    </div>

    <div id='tour-content'>
      <div id='tour-headline'>
        <h3><%= t('.tour_header', :default =>'Copycopter lets you edit live <a href='http://en.wikipedia.org/wiki/Copy_(written)'>copy</a> in your web app. Setup is simple and managing copy is simple, flexible and forgiving. Get to the Choppa!') %></h3>
      </div>

      <h4><%= t('.tour_setup_header', :default => 'Setup') %></h4>
      <p><%= t('.tour_setup_description', :default => 'Copycopter painlessly integrates with your existing Rails app with a few quick steps.') %></p>

      <div class='image-shadow'>
        <img src='/images/home/v1/screenshot-setup.png' alt='Set up' class='screenshot'>
      </div>

      <h4><%= t('.tour_create_header', :default => 'Create') %></h4>
      <p><%= t('.tour_create_description', :default => 'Adding blurbs from your Rails application is easy. Just add text to your views using the Rails I18n API.') %></p>

      <div class='image-shadow'>
        <img src='/images/home/v1/screenshot-create.png' alt='Add blurb' class='screenshot'>
      </div>

      <h4><%= t('.tour_edit_header', :default => 'Edit') %></h4>
      <p><%= t('.tour_edit_description', :default => 'Once copy is managed by Copycopter, it can be easily edited using a super simple web-based interface.') %></p>

      <div class='image-shadow'>
        <img src='/images/home/v1/screenshot-edit.png' alt='Edit blurb' class='screenshot'>
      </div>

      <h4><%= t('.tour_view_header', :default => 'View') %></h4>
      <p><%= t('.tour_view_description', :default => 'Any copy changes in Copycopter are automatically reflected on the live app.') %></p>

      <div class='image-shadow'>
        <img src='/images/home/v1/screenshot-view.png' alt='View live blurb' class='screenshot'>
      </div>

      <h4><%= t('.tour_deploy_header', :default => 'Deploy') %></h4>
      <p><%= t('.tour_deploy_description', :default => 'Move copy through the natural cycle of development, staging, and production.') %></p>

      <div class='image-shadow'>
        <img src='/images/home/v1/screenshot-deploy.png' alt='Deploy' class='screenshot'>
      </div>

      <h4><%= t('.tour_manage_header', :default => 'Manage') %></h4>
      <p><%= t('.tour_manage_description', :default => 'It is easy to manage multiple projects across multiple accounts.') %></p>

      <div class='image-shadow'>
        <img src='/images/home/v1/screenshot-manage.png' alt='Project list' class='screenshot'>
      </div>
    </div>
  </div>
</div>

