<%= content_for :extra, 'landing_page_new_design' %>

<div id='cloud-entity-1' class='cloud-entity'>
  <div class='cloud-repeat'></div>
</div>

<div id='cloud-entity-2' class='cloud-entity'>
  <div class='cloud-repeat'></div>
</div>

<div id='cloud-entity-3' class='cloud-entity'>
  <div class='cloud-repeat'></div>
</div>

<div id='home-wrap'>
  <header id='home-heading'>
    <h1 id='logo'>
      <a href='/'><%= t '.heading.logo_html' %></a>
    </h1>

    <h2><%= t '.heading.header_html' %></h2>
  </header>

  <section id='main-description'>
    <div id='main-image'>
      <p class='save'><%= t '.description.save' %></p>
      <p class='manage'><%= t '.description.manage' %></p>
      <%= image_tag '/images/home/main-screenshot.png',
            :alt => t('.description.main_alt') %>
      <p class='edit'><%= t '.description.edit_html' %></p>
    </div>

    <section>
      <h3>
        <%= t '.description.header_html' %>
        <span><%= t '.description.call_out_html' %></span>
      </h3>

      <ul>
        <li>
          <p><%= t '.description.reason_1' %></p>
        </li>
        <li>
          <p><%= t '.description.reason_2' %></p>
        </li>
        <li>
          <p><%= t '.description.reason_3' %></p>
        </li>
      </ul>
    </section>
  </section>

  <section id='tour'>
    <h2><%= t '.tour.header' %></h2>

    <section id='setup'>
      <div>
        <h3><%= t '.tour.setup.header' %></h3>
        <p><%= t '.tour.setup.description_html' %></p>
      </div>

      <%= image_tag '/images/home/setup-screenshot.png', :class => 'screenshot',
            :alt => t('.tour.setup.screenshot') %>
    </section>

    <section id='edit'>
      <div>
        <h3><%= t '.tour.edit.header' %></h3>
        <p><%= t '.tour.edit.description_html' %></p>
      </div>

      <%= image_tag '/images/home/edit-screenshot.png', :class => 'screenshot',
            :alt => t('.tour.edit.screenshot') %>
    </section>
  </section>
</div>

<div id='ground'>
  <div id='grass'></div>
</div>
